<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <form class="bootstrap-admin-login-form alert-link">

                    <img class="center-block" src="../../Scripts/template/imagens/icone.png" />

                    <div class="form-group">
                        <input class="form-control " type="text" ng-model="txtIdUsuario" placeholder="CPF" ng-required="true">
                    </div>

                    <div class="form-group text-center center-block">
                        <input class="form-control" type="password" ng-model="txtSenha" name="password" placeholder="Senha">                                                                        
                    </div>                   

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="remember_me">
                            lembrar de min
                        </label>
                    </div>
                    <button class="btn btn-lg btn-default btn-warning center-block" type="submit" ng-click="procurarUsuario()">Entrar</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
